<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.cdnfonts.com/css/euclid-circular-a"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>SisyPhus</title>
  </head>
  <body class="container bg-color">
    <header class="pt-5 d-flex justify-content-between">
      <a href=""><img src="logo.png" alt="" style="max-height: 45px" /></a>
      <div>
        <a
          href="#"
          class="me-5 link-offset-2 link-underline link-underline-opacity-0 text-white"
          >About</a
        >
        <a
          href="#"
          class="me-5 link-offset-2 link-underline link-underline-opacity-0 text-white"
          >Services</a
        >
        <a
          href="#"
          class="me-5 link-offset-2 link-underline link-underline-opacity-0 text-white"
          >Products</a
        >
        <button type="button" class="ms-5 btn btn-primary red-500 px-4">
          Demo
        </button>
      </div>
    </header>
    <main class="mt-2 d-flex justify-content-between">
      <div class="mt-5 flex-fill">
        <h1 style="font-size: 80px">Manage your personal and all team task.</h1>
        <h5 class="mt-4">
          Monitoring your personal and all team task more easily with us.
        </h5>
      </div>
      <img
        src="7450159.png"
        alt=""
        style="
          width: auto;
          height: 650px;
          position: relative;
          right: -100px;
          top: -30px;
        "
      />
    </main>
  </body>
  <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</html>
