@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Euclid Circular A", sans-serif;
}

body {
  overflow-x: hidden;
}

.bg-color {
  background-color: #28293e;
  color: white;
}

#logo {
  max-height: 45px;
}

.btn-demo {
  background-color: #f36;
  border-radius: 7px;
  padding: 7px 25px;
}

#imgHero {
  position: absolute;
  z-index: 2;
}

#headingHero h1 {
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 85px; /* 97.561% */
}

#headingHero p {
  font-size: 17px;
}

#hero {
  height: 580px;
}

.input-container {
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
}

.input-container img {
  width: auto;
  height: 30px;
}

.input-container input {
  outline: none;
  color: white;
  background: none;
  font-size: 14px;
}

.btn-send {
  background-color: #f36;
  border-radius: 7px;
  padding: 5px 30px;
}

#maintance {
  height: fit-content;
}

#imgMaintance {
  width: 400px;
  height: auto;
}
